.canvas {
    min-height: 300vh;
    display:flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 10rem;
    padding-inline: 4rem;
}

.strip {
    width: 180px;
    border-radius: 24px;
    min-height: 280vh;
}

.blue {
    background: var(--blue);
}

.yellow {
    background: var(--yellow);
}

.red {
    background: var(--red);
}

.green {
    background: var(--green);
}


.hidden {
    display: none;
}