*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{

    --background: #F8F7F4;
    --text: #222222;
    --accent: #8B5E3C;

}



html{
    scroll-behavior: smooth;
}

body{

    background: var(--background);
    color: var(--text);

    font-family: Georgia, serif;

    overflow-x: hidden;

}